@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", serif;
}

/* Estilo general para la página de inicio */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.contenedor-principal{
    min-height: 80vh;
}

.navbar-image{
    width: 12.5rem;
}

/* Estilos generales para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente al centro */
    background-color: #333;
    /* background-color: rgb(0, 86, 157); */
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center; /* Alineación vertical centrada de los elementos */
    width: 100%;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px; /* Espaciado entre los elementos del menú */
    margin-left: auto;
}

.navbar-item {
    display: flex;
    align-items: center; /* Alineación vertical centrada para cada ítem */
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 16px; /* Espaciado en los enlaces */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #555; /* Cambio de color al pasar el cursor */
}

.btn-cerrar-sesion {
    padding: 8px 16px; /* Similar al estilo de los otros enlaces */
    background-color: #ff4d4d; /* Color de fondo para el botón */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cerrar-sesion:hover {
    background-color: #e60000; /* Cambio de color al pasar el cursor */
}

/* Estilos generales del footer */
.footer {
    background-color: #00569D;
    color: #ecf0f1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* Estilos del logo o nombre del sitio */
.navbar-logo {
    color: #ecf0f1;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

/* Contenedor del contenido del footer */
.footer-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-img{
    height: 10rem;
}

.footer-aside{
    display: flex;
    flex-direction: column;
}

/* Texto del footer */
.footer-text {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Menú del footer */
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Elementos de la lista del menú */
.footer-item {
    margin: 0 15px;
}

/* Enlaces del footer */
.footer-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #3498db;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-item {
        margin: 10px 0;
    }
}