@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", serif;
}

/* Estilo general para la página de inicio */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.contenedor-principal{
    min-height: 80vh;
}

.navbar-image{
    width: 12.5rem;
}

/* Estilos generales de la barra de navegación */
.navbar {
    background-color: #00569D;
    padding: 10px 20px;
    /* position: fixed; */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de la barra */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos del logo o nombre del sitio */
.navbar-logo {
    color: #ecf0f1;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

/* Estilos para el menú de navegación */
.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilos de los ítems del menú */
.navbar-item {
    margin-left: 20px;
}

/* Estilos para los enlaces */
.navbar-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Cambio de color en hover */
.navbar-link:hover {
    color: #3498db;
}

/* Estilos generales del footer */
.footer {
    background-color: #00569D;
    color: #ecf0f1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Contenedor del contenido del footer */
.footer-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-img{
    height: 10rem;
}

.footer-aside{
    display: flex;
    flex-direction: column;
}

/* Texto del footer */
.footer-text {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Menú del footer */
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Elementos de la lista del menú */
.footer-item {
    margin: 0 15px;
}

/* Enlaces del footer */
.footer-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #3498db;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-item {
        margin: 10px 0;
    }
}