.titulo{
    text-align: center;
    margin: 1.5rem;
    color: #000000;
    font-size: 2.5rem;
}

.protocolos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.protocolos-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 70%;
}

.protocolo-card{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: #000000;
    text-decoration: none;
}

.protocolo-card:hover{
    scale: 1.025;
}

.datos-protocolo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.protocolo-nombre{
    font-size: 1.5rem;
}

.protocolo-botones{
    text-align: center;
    align-content: center;
    height: 3rem;
}

.boton-protocolo{
    background-color: #00569D;
    color: white;
    padding: 0.75rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
    width: 15%;
}

.boton-protocolo:hover{
    background-color: #64829b;
}