.titulo{
    text-align: center;
    margin: 1.5rem;
    color: #000000;
    font-size: 2.5rem;
}

.usuarios-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion-usuarios{
    border-bottom: 3px solid #00569D;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    width: 75%;
    padding: 0.25rem;
}

.navegacion-activa{
    color: #00569D;
    padding: 1rem;
    text-decoration: none;
    width: 40%;
    border-radius: 1rem;
}

.navegacion-inactiva{
    color: white;
    padding: 1rem;
    text-decoration: none;
    background-color: #00569D;
    width: 40%;
    border-radius: 1rem;
}

.navegacion-inactiva:hover{
    color: white;
    padding: 1rem;
    text-decoration: none;
    background-color: #64829b;
}

.usuarios-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

.usuario-card{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: #000000;
    text-decoration: none;
}

.usuario-card:hover{
    scale: 1.025;
}

.usuario-imagen{
    width: 20%;
}

.usuario-info{
    width: 80%;
}

.usuario-datos{
    padding: 1rem;
}

.usuario-botones{
    text-align: center;
    align-content: center;
    height: 3rem;
}

.inactivo{
    background-color: #c8c9ca;
}

.img-perfil-usuario{
    width: 100%;
}

.usuario-nombre{
    font-size: 1.5rem;
}

.boton-usuario{
    background-color: #00569D;
    color: white;
    padding: 0.75rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
    width: 15%;
}

.boton-usuario:hover{
    background-color: #64829b;
}
.img-perfil-usuario {
    width: 100%; /* Se ajustará al ancho del contenedor */
    max-width: 325px; /* Limita el tamaño máximo a 325px */
    height: auto; /* Mantiene la proporción */
    aspect-ratio: 1 / 1; /* Asegura que siempre sea un círculo */
    border-radius: 50%; /* Círculo perfecto */
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: cover; /* Recorta para llenar el contenedor */
    border: 2px solid #fff;
}
